h1 {
  text-align: center;
  font-size: 48px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.list-container{
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  justify-content: space-evenly;
}

.details {
  margin: 20px 0px;
  text-align: center;
}

label {
  font-size: 36px;
}